@charset "UTF-8";
/*Подключение шрифтов*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #fff;
}

header {
  padding: 65px 0 0 0;
  background: #131310;
}
@media (max-width: 768px) {
  header {
    padding: 30px 0 0 0;
  }
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}
@media (max-width: 1830px) {
  .container {
    padding: 0 30px;
  }
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex: 0 1 55px;
}

.header__info {
  display: flex;
  align-items: center;
}
@media (max-width: 664px) {
  .header__info {
    flex-direction: column;
  }
}

.header__mail {
  margin: 0 50px 0 0;
  line-height: 32px;
  background: url(../images/header/icons/mail.png) 0 50% no-repeat;
  padding: 0 0 0 50px;
  font-family: Montserrat;
  font-size: 18px;
}
@media (max-width: 768px) {
  .header__mail {
    margin: 0 25px 0 0;
  }
}
@media (max-width: 664px) {
  .header__mail {
    display: none;
  }
}

.header__tel {
  margin: 0 45px 0 0;
  font-size: 18px;
  line-height: 32px;
  background: url(../images/header/icons/tel.png) 0 50% no-repeat;
  padding: 0 0 0 50px;
}
@media (max-width: 768px) {
  .header__tel {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 664px) {
  .header__tel {
    display: none;
  }
}

.login-btn {
  line-height: 55px;
  background: #fff;
  padding: 0 35px;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #135ec5;
}
@media (max-width: 425px) {
  .login-btn {
    line-height: 39px;
    padding: 0 20px;
    font-size: 14px;
  }
}

.your-car {
  background: #131310;
  padding: 230px 0 0 0;
}
@media (max-width: 768px) {
  .your-car {
    padding: 65px 0 0 0;
  }
}
@media (max-width: 320px) {
  .your-car {
    padding: 30px 0 0 0;
  }
}

.your-car__row {
  display: flex;
  justify-content: center;
}

.your-car__image {
  margin: 0 0 75px 0;
}
.your-car__image img {
  width: 100%;
}
@media (max-width: 320px) {
  .your-car__image {
    margin: 0 0 30px 0;
  }
}

.your-car__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 95px 0;
}
@media (max-width: 1200px) {
  .your-car__search {
    width: 100%;
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .your-car__search {
    margin: 0 0 60px 0;
  }
}
@media (max-width: 424px) {
  .your-car__search {
    padding: 0;
  }
}

.your-car__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 55px 0;
}
@media (max-width: 320px) {
  .your-car__title {
    margin: 0 0 30px 0;
  }
}

.your-car__form {
  display: flex;
  width: 100%;
  /* Firefox 19+ */
  /* Firefox 18- */
}
@media (max-width: 1200px) {
  .your-car__form {
    flex-direction: column;
  }
}
.your-car__form ::-webkit-input-placeholder {
  color: #3c3c3c;
}
.your-car__form ::-moz-placeholder {
  color: #3c3c3c;
}
.your-car__form :-moz-placeholder {
  color: #3c3c3c;
}
.your-car__form :-ms-input-placeholder {
  color: #3c3c3c;
}

.your-car__input {
  max-width: 330px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 72px;
  font-weight: 700;
  color: #fff;
  background: #131310;
  border-bottom: #272726 solid 1px;
  margin: 0 105px 0 0;
}
.your-car__input:last-child {
  margin: 0;
}
@media (max-width: 1570px) {
  .your-car__input {
    max-width: 250px;
    margin: 0 60px 0 0;
  }
}
@media (max-width: 1200px) {
  .your-car__input {
    max-width: 100%;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 768px) {
  .your-car__input {
    line-height: 48px;
  }
}

.your-car__btn {
  line-height: 55px;
  padding: 0 75px;
  background: #135ec5;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.take-your {
  background: #fff;
}

.take-your__row_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 230px 0;
}
@media (max-width: 1200px) {
  .take-your__row_top {
    margin: 0 0 150px 0;
  }
}
@media (max-width: 768px) {
  .take-your__row_top {
    margin: 0 0 60px 0;
  }
}

.take-your__title_top {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #c1c1c1;
  margin: 60px 0;
}
@media (max-width: 768px) {
  .take-your__title_top {
    margin: 60px 0 30px 0;
  }
}

.take-your__images {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .take-your__images {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.take-your__item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.take-your__item a img {
  width: 100%;
}
@media (max-width: 768px) {
  .take-your__item {
    flex: 0 1 33.333%;
    padding: 30px;
  }
  .take-your__item a {
    width: 100%;
  }
  .take-your__item img {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .take-your__item {
    flex: 0 1 50%;
    padding: 10px;
  }
  .take-your__item a {
    width: 70%;
  }
  .take-your__item img {
    width: 70%;
  }
}

.take-your__item_active {
  opacity: 1;
}

.take-your__row_bottom {
  display: flex;
}
@media (max-width: 1200px) {
  .take-your__row_bottom {
    flex-direction: column;
  }
}

.take-your__column {
  flex: 0 1 50%;
}
@media (max-width: 1200px) {
  .take-your__column:nth-child(1) {
    order: 2;
  }
  .take-your__column:nth-child(2) {
    order: 1;
  }
}

.take-your__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.take-your__image img {
  width: 100%;
  max-width: 524px;
}
@media (max-width: 1200px) {
  .take-your__image {
    margin: 0 0 70px;
  }
}
@media (max-width: 425px) {
  .take-your__image {
    display: none;
  }
}

@media (max-width: 1200px) {
  .take-your__body {
    padding: 0 0 0 15px;
  }
}

.take-your__title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #135ec5;
  margin: 0 0 35px 0;
}
@media (max-width: 768px) {
  .take-your__title {
    margin: 0 0 25px 0;
  }
}

.take-your__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #c1c1c1;
  line-height: 48px;
  margin: 0 0 35px 0;
}
@media (max-width: 768px) {
  .take-your__text {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 375px) {
  .take-your__text {
    line-height: 34px;
    font-size: 24px;
  }
}

.take-your__link {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 16px;
  line-height: 55px;
  padding: 0 25px;
  border-radius: 100px;
  font-weight: 700;
  color: #ffffff;
  background: #135ec5;
  margin: 0 0 170px 0;
}
@media (max-width: 1200px) {
  .take-your__link {
    margin: 0 0 50px 0;
  }
}

.announcement {
  background: #135ec6;
}

.announcement__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcement__title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin: 145px 0 70px 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .announcement__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .announcement__title {
    margin: 60px 0 30px 0;
  }
}
@media (max-width: 424px) {
  .announcement__title {
    font-size: 32px;
  }
}

.announcement__link {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  background: #135ec6;
  border: 2px solid #fff;
  border-radius: 100px;
  padding: 0 60px;
  margin: 0 0 70px 0;
}

.announcement__image img {
  width: 100%;
}

.white {
  height: 97px;
  background: #fff;
  margin: -97px 0 0 0;
  padding: 0 0 165px 0;
}
@media (max-width: 768px) {
  .white {
    padding: 0 0 165px 0;
  }
}
@media (max-width: 440px) {
  .white {
    margin: -40px 0 0 0;
    padding: 0px;
  }
}

.ads {
  background: #fff;
}

.ads__row {
  display: flex;
  justify-content: space-between;
  padding: 0 0 75px 0;
}
@media (max-width: 1448px) {
  .ads__row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1448px) {
  .ads-small {
    margin: 0;
    order: 2;
  }
}

.ads-small__item {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  box-shadow: 0px 0px 85px 0px rgba(4, 36, 81, 0.07);
}
@media (max-width: 1220px) {
  .ads-small__item {
    width: 100%;
  }
}

.ads-small__body_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #135ec6;
}

.ads-small__tag {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: 700;
  border-radius: 100px;
  padding: 0 20px;
  background: #fff;
  color: #135ec5;
  margin: 30px 25px 0 auto;
}

.ads-small__image {
  margin: 60px 0 -90px 0;
  z-index: 3;
}
.ads-small__image img {
  width: 100%;
}
@media (max-width: 375px) {
  .ads-small__image img {
    padding: 0 15px;
  }
}

.ads-small__body_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 135px 0 0 0;
}

.ads-small__title {
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  font-weight: 700;
  color: #000000;
  margin: 0 60px 19px 60px;
}
@media (max-width: 528px) {
  .ads-small__title {
    margin: 0 30px 19px;
  }
}
@media (max-width: 456px) {
  .ads-small__title {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .ads-small__title {
    font-size: 22px;
    margin: 0 15px 15px;
  }
}
@media (max-width: 340px) {
  .ads-small__title {
    font-size: 18px;
    margin: 0 10px 15px;
  }
}

.ads-small__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #135ec5;
  margin: 0 0 37px 0;
}
@media (max-width: 350px) {
  .ads-small__subtitle {
    font-size: 12px;
    margin: 0 0 30px 0;
  }
}

.ads-small__specifications {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #c1c1c1;
  margin: 0 0 40px 0;
}
@media (max-width: 375px) {
  .ads-small__specifications {
    font-size: 16px;
  }
}

.ads-small__info {
  display: flex;
  align-items: center;
  margin: 0 0 45px 0;
}

.ads-small__price {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #16ad2c;
  margin: 0 35px 0 0;
}
@media (max-width: 424px) {
  .ads-small__price {
    margin: 0 15px 0 0;
    font-size: 22px;
  }
}

.ads-small__link {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 18px;
  line-height: 49px;
  font-weight: 700;
  background: #e2e2e2;
  color: #ffffff;
  border-radius: 100px;
  padding: 0 43px;
}
@media (max-width: 424px) {
  .ads-small__link {
    font-size: 16px;
    line-height: 45px;
    padding: 0 22px;
  }
}

@media (max-width: 1448px) {
  .ads-big {
    margin: 0 0 60px 0;
    order: 1;
  }
}
@media (max-width: 1220px) {
  .ads-big {
    display: none;
  }
}

.ads-big__item {
  display: flex;
  justify-content: center;
  max-width: 950px;
  box-shadow: 0px 0px 85px 0px rgba(4, 36, 81, 0.07);
}

.ads-big__body_left {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 60px 45px 0 55px;
  max-width: 514px;
}

.ads-big__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 130px 0;
}

.ads-big__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #e2e2e2;
}

.ads-big__price {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #16ad2c;
}

.ads-big__title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #135ec5;
  margin: 0 0 40px 0;
}

.ads-big__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 48px;
  color: #c1c1c1;
  margin: 0 80px 60px 0;
  max-width: 320px;
}

.ads-big__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 55px;
  background: #135ec5;
  padding: 0 55px;
  border-radius: 100px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 100px 0;
}

.ads-big__body_right {
  display: flex;
  flex-direction: column;
  background: #135ec3;
}

.ads-big__tag {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 29px;
  font-weight: 700;
  border-radius: 100px;
  padding: 0 20px;
  background: #fff;
  color: #135ec5;
  margin: 58px 30px 70px auto;
}

.ads-big__image {
  margin: 0 0 0 -85px;
}
.ads-big__image img {
  width: 100%;
}

.search__body {
  display: flex;
  flex-direction: column;
  margin: 0 0 75px 0;
  box-shadow: 0px 0px 85px 0px rgba(4, 36, 81, 0.07);
}

.search__row_top {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.search__form_top {
  display: flex;
  width: 100%;
  margin: 60px 0 115px 0;
  padding: 0 48px 0 0;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.search__form_top ::-webkit-input-placeholder {
  color: #c1c1c1;
}
.search__form_top ::-moz-placeholder {
  color: #c1c1c1;
}
.search__form_top :-moz-placeholder {
  color: #c1c1c1;
}
.search__form_top :-ms-input-placeholder {
  color: #c1c1c1;
}
@media (max-width: 768px) {
  .search__form_top {
    margin: 30px 0 30px 0;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
  }
}
@media (max-width: 425px) {
  .search__form_top {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.search__input {
  flex: 0 1 25%;
  width: 25%;
  margin: 0 0 0 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 72px;
  font-weight: 700;
  color: #000;
  opacity: 0.8;
  border-bottom: 2px solid #ebebeb;
}
.search__input:focus {
  opacity: 1;
}
@media (max-width: 768px) {
  .search__input {
    flex: 0 1 47%;
    width: 47%;
    margin: 0 10px 0 0;
  }
}
@media (max-width: 425px) {
  .search__input {
    flex: 0 1 97%;
    width: 97%;
  }
}

.search__images {
  display: flex;
  margin: 0 0 80px 0;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .search__images {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .search__images {
    margin: 0 0 30px 0;
  }
}

.search-your__item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.search-your__item a img {
  width: 100%;
}
@media (max-width: 768px) {
  .search-your__item {
    flex: 0 1 25%;
    padding: 30px;
  }
  .search-your__item a {
    width: 100%;
  }
  .search-your__item img {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .search-your__item {
    flex: 0 1 50%;
    padding: 10px;
  }
  .search-your__item a {
    width: 70%;
  }
  .search-your__item img {
    width: 70%;
  }
}

.search-your__item_active {
  opacity: 1;
}

.search__form_bottom {
  display: flex;
  margin: 0 0 75px 0;
  padding: 0 48px 0 0;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.search__form_bottom ::-webkit-input-placeholder {
  color: #c1c1c1;
}
.search__form_bottom ::-moz-placeholder {
  color: #c1c1c1;
}
.search__form_bottom :-moz-placeholder {
  color: #c1c1c1;
}
.search__form_bottom :-ms-input-placeholder {
  color: #c1c1c1;
}
@media (max-width: 768px) {
  .search__form_bottom {
    margin: 0 0 60px 0;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
  }
}
@media (max-width: 425px) {
  .search__form_bottom {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.search__row_bottom {
  display: flex;
  flex-direction: column;
  background: #135ec6;
}

.search__mark {
  display: flex;
  justify-content: center;
  margin: -32px 0 0 0;
}

.search__mark_item {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  background: #135ec6;
  padding: 0 25px;
  border-radius: 18px 18px 0 0;
}

.search__form_advanced {
  display: flex;
  flex-direction: column;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.search__form_advanced ::-webkit-input-placeholder {
  color: #fff;
}
.search__form_advanced ::-moz-placeholder {
  color: #fff;
}
.search__form_advanced :-moz-placeholder {
  color: #fff;
}
.search__form_advanced :-ms-input-placeholder {
  color: #fff;
}

.search-form__row {
  display: flex;
  margin: 0 0 50px 0;
}
.search-form__row:nth-child(2) {
  margin: 55px 0 50px 0;
}
@media (max-width: 768px) {
  .search-form__row {
    margin: 0 0 30px 0;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
  }
  .search-form__row:nth-child(2) {
    margin: 30px 0 0 0;
  }
}
@media (max-width: 425px) {
  .search-form__row {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.search__input_advanced {
  flex: 0 1 25%;
  width: 25%;
  margin: 0 0 0 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 72px;
  font-weight: 700;
  opacity: 0.25;
  color: #fff;
  background: #135ec5;
  border-bottom: 2px solid #3475ce;
}
.search__input_advanced:last-child {
  margin: 0 48px;
}
.search__input_advanced:focus {
  opacity: 1;
}
@media (max-width: 768px) {
  .search__input_advanced {
    flex: 0 1 47%;
    width: 47%;
    margin: 0 10px 0 0;
  }
  .search__input_advanced:last-child {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .search__input_advanced {
    flex: 0 1 97%;
    width: 97%;
  }
}

.search__button {
  display: flex;
  justify-content: center;
  margin: 0 0 55px 0;
}

.search__btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #135ec5;
  padding: 0 65px;
  border-radius: 100px;
}